<div class="container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="login">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="inputs" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput type="text" placeholder="Informe seu login">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" placeholder="Informe sua senha">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button color="primary">Acessar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>